html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    justify-content: center;
    margin: 0px;
}

body {
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
    color: $copy;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/oliva.png);
}

main {
    flex-basis: 100%;
    flex-wrap: wrap;
}

p {
    margin: 0;
    line-height: 20px;
}

@keyframes change-text {
    0%,
    55%,
    100% {
        transform: translateY(-50%);
    }
    5%,
    50% {
        transform: translateY(-100%);
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
}

@keyframes text-blink {
    50% {
        border-color: transparent;
    }
}

h1 {
    color: $main;
    font-size: 46px;
    animation: 5s typing steps(17, end), 0.5s text-blink step-end infinite;
    width: 15em;
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    margin: 0;
}

h2 {
    color: $white;
    font-size: 20px;
}

h3 {
    color: $main;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

h4 {
    color: $subtitle;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-bottom: 7px;
}

a {
    color: $main;
    padding: 10px;
    text-decoration: none;
    &:hover {
        opacity: 0.5;
    }
}

i {
    padding-right: 10px;
}

.active {
    background-image: linear-gradient(90deg, $main 60%, $greengradient 100%);
}